/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	text-align: center;
	background: #00031D;
}

pre {
	color: white;
	margin: auto;
	width: 18.5em;
	height: 10em;
	/*text-align: center;*/
}

div.buttons {
	/**/
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

input[type=submit] {
	background-color: white;
	border-width: 1px;
	outline-width: 0;
	font-family: lucida console;
	
	height: 2em;
	width: 6em;
}

canvas {
	display: block;
}

#picture {
    position: relative;
}

.game {
	position: absolute;
	margin: auto;
    left: 50%;
	top: 0%
}

.center {
	position: relative;
	left: -50%;
}